In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/Users/ramanpandey/Desktop/PracticePrograms/concepts/machinelearning/titanic_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Missing value check

In [5]:
#count of missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
#percentage of missing values
100 * df.isnull().mean()

#Missing values columns 
# Age ~ 19%
# Cabin ~ 77% 
# Embarked ~ 0.22%

#strategy
# a. Columns having high percentage of missing values (>40% or 50%), directly discad that column from the analysis
# b. Columns having missing values under acceptable range we prefer to impute them (replace with some values)
# c. for numerical columns we prefer to use mean or median. (Median is preferred because it is least affect with outliers)
# d. for categorical columns we prefer to use mode.(mode is the most frequent values)
# e. if we have very less missing values (< 1%) then we can drop the rows as well
# imputation is always preferred over dropping the data

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [6]:
#Cabin column has more than 40%/50% of missing values so straight away dropping it.
df1 = df.drop("Cabin", axis=1)
#axis =1 bcoz we are dropping the column

In [10]:
100*df1.isnull().mean() # in case of missing string values

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.224467
dtype: float64

In [9]:
df1["Age"] = df1["Age"].fillna(df1["Age"].median())

In [11]:
100*df1.isna().mean() # in case of missing numbers

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.224467
dtype: float64

In [23]:
df1["Embarked"].isnull().sum()

0

In [18]:
df1["Embarked"].value_counts()
mode = df1["Embarked"].value_counts().mode()

In [22]:
df1["Embarked"] = df1["Embarked"].fillna(mode[0])

In [24]:
df1.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Embarked         4
dtype: int64